<nav>
	<ul>
		<li>
			<a href="/">
				Home
			</a>
		</li>
		<li>
			About
		</li>
		<li>
			<a href="/contact">
				Contact
			</a>
		</li>
	</ul>
</nav>
<h1>About</h1>
<h3>
	Our mission is to inform everyone about the second race that took place between the tortoise and the hare.
</h3>

<p>
	For more information, we recommmend reading 'One More Thing', the first story, <b>The Race</b>, describes this race in detail.
</p>