<nav>
	<ul>
		<li>
			<a href="/">
				Home
			</a>
		</li>
		<li>
			<a href="/about">
				About
			</a>
		</li>
		<li>
			Contact
		</li>
	</ul>
</nav>

<h1>
	Contact
</h1>
<h3>
	How to reach us
</h3>
<address>
	1234 Hare Lane 212-212-2121 haresrus@rabbits.com
</address>