<nav>
	<ul>
		<li>
			Home
		</li>
		<li>
			<a href="/about">
				About
			</a>
		</li>
		<li>
			<a href="/contact">
				Contact
			</a>
		</li>
	</ul>
</nav>
<h1>
	Hello Zach
</h1>

<h2>
	This is my homework assignment!
</h2>